.block {
  padding: 0 68px;
}
.hidden-tab {
  display: none;
}
.wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
.progress-container {
  position: relative;
  width: 410px;
  height: 3px;
  background-color: #999;
  border-radius: 10px;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.25s linear;
  &:hover .progress::before {
    opacity: 1;
    visibility: visible;
  }
  &.active .progress::before {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    height: 6px;
  }
}
.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: inherit;
  background-color: $blue;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    @include size(16px);
    border-radius: 50%;
    background-color: $blue;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s linear;
  }
}
body {
  color: white;
}
.mobile-button {
  position: relative;
  width: 30px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mobile-button div,
.mobile-button div::after,
.mobile-button div::before {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: 0.4s ease;
}
.mobile-button div::after,
.mobile-button div::before {
  content: "";
  position: absolute;
  left: 0;
}
.mobile-button div::after {
  top: 0;
}
.mobile-button div::before {
  bottom: 0;
}
.mobile-button.active div {
  background-color: transparent;
}
.mobile-button.active div::after {
  transform-origin: bottom left;
  transform: rotate(45deg);
  left: 6px;
}
.mobile-button.active div::before {
  transform-origin: top left;
  transform: rotate(-45deg);
  left: 6px;
}
#main .container-tab.active-tab {
  display: block;
}
.hiddenIcon {
  cursor: default;
  color: #13415c;
  transition: all 0.4s ease;
}
