@keyframes wave {
  0% {
    height: 6px;
  }
  50% {
    height: 18px;
  }
  100% {
    height: 6px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
