@media screen and (max-width: 1100px) {
  .block {
    padding: 0 30px;
  }
  .hide-on-tablet {
    display: none;
  }
  #nav {
    transform: translateX(-100%);
    top: $header-height;
    z-index: 2;
    &.active {
      transform: translateX(0);
    }
    .nav-vip,
    .nav-library,
    .nav-playlist {
      display: none;
    }
  }
  #main {
    width: 100%;
    left: 0;
    .container .modal {
      width: 390px;
      top: calc(100% + 10px);
      right: 0;
      height: 80vh;
    }
    .container-header {
      width: 100%;
      left: 0;
      justify-content: space-between;
      gap: 0 16px;
      .mobile-button {
        display: flex;
      }
      &__btn {
        display: none;
      }
      &__menu {
        margin-left: unset;
      }
    }
    .container-main__layout .overview .playlist-list,
    .container-main__layout .overview .album-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  #music {
    z-index: 3;
    .music-control__item:first-child,
    .music-control__item:nth-child(2),
    .music-icon {
      display: none;
    }
    .music-control {
      position: relative;
    }
    .music-control__item:nth-child(3):hover
      ~ .music-control__item:nth-child(4) {
      opacity: 1;
      visibility: visible;
    }
    .music-control__item:nth-child(4):hover {
      opacity: 1;
      visibility: visible;
    }
    .music-control__item:nth-child(4) {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-40%, -100%);
      background-color: black;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 30px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s ease;
    }
    .music-control__item:nth-child(4)::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: transparent;
      width: 100%;
      height: 10px;
      transform: translateY(100%);
    }
    .music-container {
      width: 400px;
    }
  }
}
@media screen and (max-width: 767px) {
  .block {
    padding: 0 15px;
  }
  .hide-on-mobile {
    display: none;
  }
  #main {
    height: calc(100% - 100px);
    .container-header {
      padding: 15px;
    }
    .container-main__profile {
      padding: 0 15px;
      position: relative;
    }
    .container-main__image {
      width: 58%;
    }
    .container-header__item:nth-child(2),
    .container-header__item:last-child {
      display: none;
    }
    .container-header .mobile-button {
      display: none;
    }
    .container-main__vip span {
      display: none;
    }
    .container-main__vip .btn {
      padding: 4px 10px;
      &:first-child {
        position: absolute;
        top: 0;
        left: 15px;
      }
    }
    .container-main__navigation {
      margin: 40px 0;
    }
    .container-main__list li:nth-child(4),
    .container-main__list li:nth-child(6),
    .container-main__list li:nth-child(7) {
      display: none;
    }
    .container-main__layout .overview .song-content__images {
      display: none;
    }
    .container .modal {
      box-shadow: -1px -1px 10px 10px #3a599c80;
    }
    .container-main__layout .overview .playlist-list,
    .container-main__layout .overview .album-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  #music {
    height: auto;
    .music-main.active {
      position: fixed;
      top: 0;
      left: 0;
      @include size(100%);
      background-color: $bg-container;
      flex-direction: column;
      justify-content: unset;
      padding: 10px 30px;
    }
    .music-main.active .music-info {
      flex-direction: column-reverse;
      position: relative;
    }
    .music-main.active .progress-container {
      max-width: 80%;
    }
    .music-main.active .music-player__item {
      font-size: 2.5rem;
    }
    .music-main.active .music-image {
      @include size(350px);
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .music-main.active .music-container {
      display: flex;
      flex-direction: column-reverse;
      margin-top: auto;
    }
    .music-main.active .music-player__item:first-child {
      display: none;
    }
    .music-main.active .angle-down {
      display: block;
      position: absolute;
      top: 8px;
      left: 30px;
      font-size: 2.4rem;
      cursor: pointer;
      padding: 6px;
    }
    .music-main.active .music-random,
    .music-main.active .music-prev,
    .music-main.active .music-redo {
      display: block;
    }
    .music-main.active .music-progress {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    .music-main.active .music-player {
      justify-content: center;
      gap: 0 40px;
    }
    .music-main.active .music-user__name {
      font-size: 2rem;
      max-width: 180px;
    }
    .music-main.active .music-user__author {
      font-size: 1.5rem;
      font-weight: 300;
    }
    .music-main.active .music-play {
      padding: 6px;
    }
    .music-main.active .music-control {
      margin-top: 10px;
      display: flex;
    }
    .music-control,
    .music-progress,
    .music-random,
    .music-prev,
    .music-redo {
      display: none;
    }
    .music-container {
      width: auto;
    }
    .music-player {
      width: auto;
      gap: 0 30px;
      margin-bottom: 0;
      &__item {
        font-size: 1.5rem;
      }
      &__item:first-child {
        display: block;
      }
    }
    .music-play {
      border-color: transparent;
    }
    .music-image {
      @include size(45px);
      cursor: pointer;
    }
    .music-main {
      padding: 5px 10px;
    }
    .music-user__name {
      font-size: 1.4rem;
      margin-bottom: 6px;
    }
    .music-user__author {
      font-size: 1.2rem;
    }
    .music-nav__mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-item {
        width: 20%;
        &.active i {
          color: $blue;
        }
        &.active span {
          color: $blue;
        }
      }
      &-item a {
        display: flex;
        flex-direction: column;
        color: #999;
        align-items: center;
        padding: 6px;
        i {
          margin-bottom: 6px;
          transition: all 0.25s linear;
        }
        span {
          font-size: 1.2rem;
          transition: all 0.25s linear;
        }
      }
    }
    .music .progress-mobile {
      position: absolute;
      transform: translateY(-100%);
      display: block;
      width: 100%;
      height: 2px;
      div {
        width: 0;
        height: 100%;
        background-color: $blue;
        border-radius: 6px;
        transition: all 0.25s ease;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  #music {
    .music-main.active .progress-container {
      max-width: 60%;
    }
    .music-main.active .music-image {
      @include size(250px);
    }
    .music-main.active .music-player {
      gap: 0 25px;
    }
    .music-main.active .music-player__item {
      font-size: 2rem;
    }
    .music-main.active .music-progress {
      max-width: 250px;
    }
    .music-nav__mobile-item a span {
      font-size: 1rem;
    }
    .music-nav__mobile-item a {
      padding: 6px 4px;
    }
  }
  #main {
    .container .modal {
      position: fixed;
      top: 0;
      left: 0;
      @include size(100%);
      max-height: calc(100% - 100px);
      padding-bottom: 30px;
    }
    .container-main__layout .overview .playlist-list__item {
      height: 200px;
    }
    .container-main__layout .overview .song-content__item {
      padding: 10px 8px 10px 0;
    }
    .container-main__layout .overview .album-list,
    .container-main__layout .overview .playlist-list {
      grid-gap: 15px;
    }
    .container-main__layout .overview .album-list__image {
      height: 150px;
    }
    .container .modal .modal-menu {
      gap: 0;
      margin-left: -10px;
    }
    .container .modal .modal-menu .modal-item {
      margin-left: 10px;
      margin-bottom: 10px;
      width: calc(50% - 10px);
    }
    .container-main__vip .btn {
      position: absolute;
      top: 0;
      right: 10px;
    }
    .container-main__list li a {
      width: 80px;
    }
    .container-main__list li:first-child a {
      width: 100px;
    }
    .container-main__layout .overview .song-header__right .btn.btn--primary {
      display: none;
    }
    .container-main__name {
      font-size: 2.5rem;
    }
    .container-main__profile {
      padding: 0 8px;
    }
    .container-main__image {
      width: 65%;
      margin-top: 20px;
    }
  }
}
