$bg-nav: #132958;
$bg-nav-hover: #2b3f69;
$bg-music: #051740;
$bg-container: #061d4f;
$bg-container-hover: #1f3461;
$blue: #3460f5;
$text-color: #d4d4da;
$main-text-color: #c8cacf;
$pink-color: #ed2b91;
$nav-width: 240px;
$music-height: 80px;
$header-height: 70px;
